.flag {
	width: 16px;
	height: 11px;
	background:url('../images/flags.png') no-repeat;
	float: left;
	margin-top: 2px;
}
.flag.flag-00, .flag.flag-00 {background-position: 0 0 }
.flag.flag-AD, .flag.flag-ad {background-position: -16px 0}
.flag.flag-AE, .flag.flag-ae {background-position: -32px 0}
.flag.flag-AF, .flag.flag-af {background-position: -48px 0}
.flag.flag-AG, .flag.flag-ag {background-position: -64px 0}
.flag.flag-AI, .flag.flag-ai {background-position: -80px 0}
.flag.flag-AL, .flag.flag-al {background-position: -96px 0}
.flag.flag-AM, .flag.flag-am {background-position: -112px 0}
.flag.flag-AN, .flag.flag-an {background-position: -128px 0}
.flag.flag-AO, .flag.flag-ao {background-position: -144px 0}
.flag.flag-AR, .flag.flag-ar {background-position: -160px 0}
.flag.flag-AS, .flag.flag-as {background-position: -176px 0}
.flag.flag-AT, .flag.flag-at {background-position: -192px 0}
.flag.flag-AU, .flag.flag-au {background-position: -208px 0}
.flag.flag-AW, .flag.flag-aw {background-position: -224px 0}
.flag.flag-AZ, .flag.flag-az {background-position: -240px 0}
.flag.flag-BA, .flag.flag-ba {background-position: 0 -11px}
.flag.flag-BB, .flag.flag-bb {background-position: -16px -11px}
.flag.flag-BD, .flag.flag-bd {background-position: -32px -11px}
.flag.flag-BE, .flag.flag-be {background-position: -48px -11px}
.flag.flag-BF, .flag.flag-bf {background-position: -64px -11px}
.flag.flag-BG, .flag.flag-bg {background-position: -80px -11px}
.flag.flag-BH, .flag.flag-bh {background-position: -96px -11px}
.flag.flag-BI, .flag.flag-bi {background-position: -112px -11px}
.flag.flag-BJ, .flag.flag-bj {background-position: -128px -11px}
.flag.flag-BM, .flag.flag-bm {background-position: -144px -11px}
.flag.flag-BN, .flag.flag-bn {background-position: -160px -11px}
.flag.flag-BO, .flag.flag-bo {background-position: -176px -11px}
.flag.flag-BR, .flag.flag-br {background-position: -192px -11px}
.flag.flag-BS, .flag.flag-bs {background-position: -208px -11px}
.flag.flag-BT, .flag.flag-bt {background-position: -224px -11px}
.flag.flag-BV, .flag.flag-bv {background-position: -240px -11px}
.flag.flag-BW, .flag.flag-bw {background-position: 0 -22px}
.flag.flag-BY, .flag.flag-by {background-position: -16px -22px}
.flag.flag-BZ, .flag.flag-bz {background-position: -32px -22px}
.flag.flag-CA, .flag.flag-ca {background-position: -48px -22px}
.flag.flag-CATALONIA, .flag.flag-catalonia {background-position: -64px -22px}
.flag.flag-CD, .flag.flag-cd {background-position: -80px -22px}
.flag.flag-CF, .flag.flag-cf {background-position: -96px -22px}
.flag.flag-CG, .flag.flag-cg {background-position: -112px -22px}
.flag.flag-CH, .flag.flag-ch {background-position: -128px -22px}
.flag.flag-CI, .flag.flag-ci {background-position: -144px -22px}
.flag.flag-CK, .flag.flag-ck {background-position: -160px -22px}
.flag.flag-CL, .flag.flag-cl {background-position: -176px -22px}
.flag.flag-CM, .flag.flag-cm {background-position: -192px -22px}
.flag.flag-CN, .flag.flag-cn {background-position: -208px -22px}
.flag.flag-CO, .flag.flag-co {background-position: -224px -22px}
.flag.flag-CR, .flag.flag-cr {background-position: -240px -22px}
.flag.flag-CU, .flag.flag-cu {background-position: 0 -33px}
.flag.flag-CV, .flag.flag-cv {background-position: -16px -33px}
.flag.flag-CW, .flag.flag-cw {background-position: -32px -33px}
.flag.flag-CY, .flag.flag-cy {background-position: -48px -33px}
.flag.flag-CZ, .flag.flag-cz {background-position: -64px -33px}
.flag.flag-DE, .flag.flag-de {background-position: -80px -33px}
.flag.flag-DJ, .flag.flag-dj {background-position: -96px -33px}
.flag.flag-DK, .flag.flag-dk {background-position: -112px -33px}
.flag.flag-DM, .flag.flag-dm {background-position: -128px -33px}
.flag.flag-DO, .flag.flag-do {background-position: -144px -33px}
.flag.flag-DZ, .flag.flag-dz {background-position: -160px -33px}
.flag.flag-EC, .flag.flag-ec {background-position: -176px -33px}
.flag.flag-EE, .flag.flag-ee {background-position: -192px -33px}
.flag.flag-EG, .flag.flag-eg {background-position: -208px -33px}
.flag.flag-EH, .flag.flag-eh {background-position: -224px -33px}
.flag.flag-ENGLAND, .flag.flag-england {background-position: -240px -33px}
.flag.flag-ER, .flag.flag-er {background-position: 0 -44px}
.flag.flag-ES, .flag.flag-es {background-position: -16px -44px}
.flag.flag-ET, .flag.flag-et {background-position: -32px -44px}
.flag.flag-EU, .flag.flag-eu {background-position: -48px -44px}
.flag.flag-FI, .flag.flag-fi {background-position: -64px -44px}
.flag.flag-FJ, .flag.flag-fj {background-position: -80px -44px}
.flag.flag-FK, .flag.flag-fk {background-position: -96px -44px}
.flag.flag-FM, .flag.flag-fm {background-position: -112px -44px}
.flag.flag-FO, .flag.flag-fo {background-position: -128px -44px}
.flag.flag-FR, .flag.flag-fr {background-position: -144px -44px}
.flag.flag-GA, .flag.flag-ga {background-position: -160px -44px}
.flag.flag-GB, .flag.flag-gb {background-position: -176px -44px}
.flag.flag-GD, .flag.flag-gd {background-position: -192px -44px}
.flag.flag-GE, .flag.flag-ge {background-position: -208px -44px}
.flag.flag-GF, .flag.flag-gf {background-position: -224px -44px}
.flag.flag-GG, .flag.flag-gg {background-position: -240px -44px}
.flag.flag-GH, .flag.flag-gh {background-position: 0 -55px}
.flag.flag-GI, .flag.flag-gi {background-position: -16px -55px}
.flag.flag-GL, .flag.flag-gl {background-position: -32px -55px}
.flag.flag-GM, .flag.flag-gm {background-position: -48px -55px}
.flag.flag-GN, .flag.flag-gn {background-position: -64px -55px}
.flag.flag-GP, .flag.flag-gp {background-position: -80px -55px}
.flag.flag-GQ, .flag.flag-gq {background-position: -96px -55px}
.flag.flag-GR, .flag.flag-gr {background-position: -112px -55px}
.flag.flag-GS, .flag.flag-gs {background-position: -128px -55px}
.flag.flag-GT, .flag.flag-gt {background-position: -144px -55px}
.flag.flag-GU, .flag.flag-gu {background-position: -160px -55px}
.flag.flag-GW, .flag.flag-gw {background-position: -176px -55px}
.flag.flag-GY, .flag.flag-gy {background-position: -192px -55px}
.flag.flag-HK, .flag.flag-hk {background-position: -208px -55px}
.flag.flag-HM, .flag.flag-hm {background-position: -224px -55px}
.flag.flag-HN, .flag.flag-hn {background-position: -240px -55px}
.flag.flag-HR, .flag.flag-hr {background-position: 0 -66px}
.flag.flag-HT, .flag.flag-ht {background-position: -16px -66px}
.flag.flag-HU, .flag.flag-hu {background-position: -32px -66px}
.flag.flag-IC, .flag.flag-ic {background-position: -48px -66px}
.flag.flag-ID, .flag.flag-id {background-position: -64px -66px}
.flag.flag-IE, .flag.flag-ie {background-position: -80px -66px}
.flag.flag-IL, .flag.flag-il {background-position: -96px -66px}
.flag.flag-IM, .flag.flag-im {background-position: -112px -66px}
.flag.flag-IN, .flag.flag-in {background-position: -128px -66px}
.flag.flag-IO, .flag.flag-io {background-position: -144px -66px}
.flag.flag-IQ, .flag.flag-iq {background-position: -160px -66px}
.flag.flag-IR, .flag.flag-ir {background-position: -176px -66px}
.flag.flag-IS, .flag.flag-is {background-position: -192px -66px}
.flag.flag-IT, .flag.flag-it {background-position: -208px -66px}
.flag.flag-JE, .flag.flag-je {background-position: -224px -66px}
.flag.flag-JM, .flag.flag-jm {background-position: -240px -66px}
.flag.flag-JO, .flag.flag-jo {background-position: 0 -77px}
.flag.flag-JP, .flag.flag-jp {background-position: -16px -77px}
.flag.flag-KE, .flag.flag-ke {background-position: -32px -77px}
.flag.flag-KG, .flag.flag-kg {background-position: -48px -77px}
.flag.flag-KH, .flag.flag-kh {background-position: -64px -77px}
.flag.flag-KI, .flag.flag-ki {background-position: -80px -77px}
.flag.flag-KM, .flag.flag-km {background-position: -96px -77px}
.flag.flag-KN, .flag.flag-kn {background-position: -112px -77px}
.flag.flag-KP, .flag.flag-kp {background-position: -128px -77px}
.flag.flag-KR, .flag.flag-kr {background-position: -144px -77px}
.flag.flag-KURDISTAN, .flag.flag-kurdistan {background-position: -160px -77px}
.flag.flag-KW, .flag.flag-kw {background-position: -176px -77px}
.flag.flag-KY, .flag.flag-ky {background-position: -192px -77px}
.flag.flag-KZ, .flag.flag-kz {background-position: -208px -77px}
.flag.flag-LA, .flag.flag-la {background-position: -224px -77px}
.flag.flag-LB, .flag.flag-lb {background-position: -240px -77px}
.flag.flag-LC, .flag.flag-lc {background-position: 0 -88px}
.flag.flag-LI, .flag.flag-li {background-position: -16px -88px}
.flag.flag-LK, .flag.flag-lk {background-position: -32px -88px}
.flag.flag-LR, .flag.flag-lr {background-position: -48px -88px}
.flag.flag-LS, .flag.flag-ls {background-position: -64px -88px}
.flag.flag-LT, .flag.flag-lt {background-position: -80px -88px}
.flag.flag-LU, .flag.flag-lu {background-position: -96px -88px}
.flag.flag-LV, .flag.flag-lv {background-position: -112px -88px}
.flag.flag-LY, .flag.flag-ly {background-position: -128px -88px}
.flag.flag-MA, .flag.flag-ma {background-position: -144px -88px}
.flag.flag-MC, .flag.flag-mc {background-position: -160px -88px}
.flag.flag-MD, .flag.flag-md {background-position: -176px -88px}
.flag.flag-ME, .flag.flag-me {background-position: -192px -88px}
.flag.flag-MG, .flag.flag-mg {background-position: -208px -88px}
.flag.flag-MH, .flag.flag-mh {background-position: -224px -88px}
.flag.flag-MK, .flag.flag-mk {background-position: -240px -88px}
.flag.flag-ML, .flag.flag-ml {background-position: 0 -99px}
.flag.flag-MM, .flag.flag-mm {background-position: -16px -99px}
.flag.flag-MN, .flag.flag-mn {background-position: -32px -99px}
.flag.flag-MO, .flag.flag-mo {background-position: -48px -99px}
.flag.flag-MP, .flag.flag-mp {background-position: -64px -99px}
.flag.flag-MQ, .flag.flag-mq {background-position: -80px -99px}
.flag.flag-MR, .flag.flag-mr {background-position: -96px -99px}
.flag.flag-MS, .flag.flag-ms {background-position: -112px -99px}
.flag.flag-MT, .flag.flag-mt {background-position: -128px -99px}
.flag.flag-MU, .flag.flag-mu {background-position: -144px -99px}
.flag.flag-MV, .flag.flag-mv {background-position: -160px -99px}
.flag.flag-MW, .flag.flag-mw {background-position: -176px -99px}
.flag.flag-MX, .flag.flag-mx {background-position: -192px -99px}
.flag.flag-MY, .flag.flag-my {background-position: -208px -99px}
.flag.flag-MZ, .flag.flag-mz {background-position: -224px -99px}
.flag.flag-NA, .flag.flag-na {background-position: -240px -99px}
.flag.flag-NC, .flag.flag-nc {background-position: 0 -110px}
.flag.flag-NE, .flag.flag-ne {background-position: -16px -110px}
.flag.flag-NF, .flag.flag-nf {background-position: -32px -110px}
.flag.flag-NG, .flag.flag-ng {background-position: -48px -110px}
.flag.flag-NI, .flag.flag-ni {background-position: -64px -110px}
.flag.flag-NL, .flag.flag-nl {background-position: -80px -110px}
.flag.flag-NO, .flag.flag-no {background-position: -96px -110px}
.flag.flag-NP, .flag.flag-np {background-position: -112px -110px}
.flag.flag-NR, .flag.flag-nr {background-position: -128px -110px}
.flag.flag-NU, .flag.flag-nu {background-position: -144px -110px}
.flag.flag-NZ, .flag.flag-nz {background-position: -160px -110px}
.flag.flag-OM, .flag.flag-om {background-position: -176px -110px}
.flag.flag-PA, .flag.flag-pa {background-position: -192px -110px}
.flag.flag-PE, .flag.flag-pe {background-position: -208px -110px}
.flag.flag-PF, .flag.flag-pf {background-position: -224px -110px}
.flag.flag-PG, .flag.flag-pg {background-position: -240px -110px}
.flag.flag-PH, .flag.flag-ph {background-position: 0 -121px}
.flag.flag-PK, .flag.flag-pk {background-position: -16px -121px}
.flag.flag-PL, .flag.flag-pl {background-position: -32px -121px}
.flag.flag-PM, .flag.flag-pm {background-position: -48px -121px}
.flag.flag-PN, .flag.flag-pn {background-position: -64px -121px}
.flag.flag-PR, .flag.flag-pr {background-position: -80px -121px}
.flag.flag-PS, .flag.flag-ps {background-position: -96px -121px}
.flag.flag-PT, .flag.flag-pt {background-position: -112px -121px}
.flag.flag-PW, .flag.flag-pw {background-position: -128px -121px}
.flag.flag-PY, .flag.flag-py {background-position: -144px -121px}
.flag.flag-QA, .flag.flag-qa {background-position: -160px -121px}
.flag.flag-RE, .flag.flag-re {background-position: -176px -121px}
.flag.flag-RO, .flag.flag-ro {background-position: -192px -121px}
.flag.flag-RS, .flag.flag-rs {background-position: -208px -121px}
.flag.flag-RU, .flag.flag-ru {background-position: -224px -121px}
.flag.flag-RW, .flag.flag-rw {background-position: -240px -121px}
.flag.flag-SA, .flag.flag-sa {background-position: 0 -132px}
.flag.flag-SB, .flag.flag-sb {background-position: -16px -132px}
.flag.flag-SC, .flag.flag-sc {background-position: -32px -132px}
.flag.flag-SCOTLAND, .flag.flag-scotland {background-position: -48px -132px}
.flag.flag-SD, .flag.flag-sd {background-position: -64px -132px}
.flag.flag-SE, .flag.flag-se {background-position: -80px -132px}
.flag.flag-SG, .flag.flag-sg {background-position: -96px -132px}
.flag.flag-SH, .flag.flag-sh {background-position: -112px -132px}
.flag.flag-SI, .flag.flag-si {background-position: -128px -132px}
.flag.flag-SK, .flag.flag-sk {background-position: -144px -132px}
.flag.flag-SL, .flag.flag-sl {background-position: -160px -132px}
.flag.flag-SM, .flag.flag-sm {background-position: -176px -132px}
.flag.flag-SN, .flag.flag-sn {background-position: -192px -132px}
.flag.flag-SO, .flag.flag-so {background-position: -208px -132px}
.flag.flag-SOMALILAND, .flag.flag-somaliland {background-position: -224px -132px}
.flag.flag-SR, .flag.flag-sr {background-position: -240px -132px}
.flag.flag-SS, .flag.flag-ss {background-position: 0 -143px}
.flag.flag-ST, .flag.flag-st {background-position: -16px -143px}
.flag.flag-SV, .flag.flag-sv {background-position: -32px -143px}
.flag.flag-SX, .flag.flag-sx {background-position: -48px -143px}
.flag.flag-SY, .flag.flag-sy {background-position: -64px -143px}
.flag.flag-SZ, .flag.flag-sz {background-position: -80px -143px}
.flag.flag-TC, .flag.flag-tc {background-position: -96px -143px}
.flag.flag-TD, .flag.flag-td {background-position: -112px -143px}
.flag.flag-TF, .flag.flag-tf {background-position: -128px -143px}
.flag.flag-TG, .flag.flag-tg {background-position: -144px -143px}
.flag.flag-TH, .flag.flag-th {background-position: -160px -143px}
.flag.flag-TJ, .flag.flag-tj {background-position: -176px -143px}
.flag.flag-TK, .flag.flag-tk {background-position: -192px -143px}
.flag.flag-TL, .flag.flag-tl {background-position: -208px -143px}
.flag.flag-TM, .flag.flag-tm {background-position: -224px -143px}
.flag.flag-TN, .flag.flag-tn {background-position: -240px -143px}
.flag.flag-TO, .flag.flag-to {background-position: 0 -154px}
.flag.flag-TR, .flag.flag-tr {background-position: -16px -154px}
.flag.flag-TT, .flag.flag-tt {background-position: -32px -154px}
.flag.flag-TV, .flag.flag-tv {background-position: -48px -154px}
.flag.flag-TW, .flag.flag-tw {background-position: -64px -154px}
.flag.flag-TZ, .flag.flag-tz {background-position: -80px -154px}
.flag.flag-UA, .flag.flag-ua {background-position: -96px -154px}
.flag.flag-UG, .flag.flag-ug {background-position: -112px -154px}
.flag.flag-UM, .flag.flag-um {background-position: -128px -154px}
.flag.flag-US, .flag.flag-us {background-position: -144px -154px}
.flag.flag-UY, .flag.flag-uy {background-position: -160px -154px}
.flag.flag-UZ, .flag.flag-uz {background-position: -176px -154px}
.flag.flag-VA, .flag.flag-va {background-position: -192px -154px}
.flag.flag-VC, .flag.flag-vc {background-position: -208px -154px}
.flag.flag-VE, .flag.flag-ve {background-position: -224px -154px}
.flag.flag-VG, .flag.flag-vg {background-position: -240px -154px}
.flag.flag-VI, .flag.flag-vi {background-position: 0 -165px}
.flag.flag-VN, .flag.flag-vn {background-position: -16px -165px}
.flag.flag-VU, .flag.flag-vu {background-position: -32px -165px}
.flag.flag-WALES, .flag.flag-wales {background-position: -48px -165px}
.flag.flag-WF, .flag.flag-wf {background-position: -64px -165px}
.flag.flag-WS, .flag.flag-ws {background-position: -80px -165px}
.flag.flag-YE, .flag.flag-ye {background-position: -96px -165px}
.flag.flag-YT, .flag.flag-yt {background-position: -112px -165px}
.flag.flag-ZA, .flag.flag-za {background-position: -128px -165px}
.flag.flag-ZANZIBAR, .flag.flag-zanzibar {background-position: -144px -165px}
.flag.flag-ZM, .flag.flag-zm {background-position: -160px -165px}
.flag.flag-ZW, .flag.flag-zw {background-position: -176px -165px}